.about-form{
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    margin-top: 35px;
    background:rgb(64, 13, 129);
    width: 40%;
    height: 120%;
    text-align: center;
}

.about-header1{
    font-size: 22px;
    color: #ccd8db;
    text-align: center;
    padding: 20px 30px;
}
.paragraphs1 {
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #fff;
    padding: 20px 30px;
    text-align: left;
  }

.about-header2{
    font-size: 18px;
    color: #ccd8db;
    text-align: left;
    padding: 0 30px;
}
.paragraphs2 {
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #fff;
    padding: 20px 30px;
    text-align: left;
  }

.about-header3{
    font-size: 18px;
    color: #ccd8db;
    text-align: left;
    padding: 0 30px;
}
.paragraphs3 {
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #fff;
    padding: 20px 30px;
    text-align: left;
  }
  .link{
    color: #fff;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
