<div class="about-form">
    <header class="about-header1">
      <h3>
        <strong>The use of recommendation mechanisms on the example of an application used to recommend movies.
        </strong> 
      </h3>
    </header>
    <div class="paragraphs1">
      <p>
        <strong>University:</strong>
        The Silesian University of Technology Gliwice
      </p>
      <p>
        <strong>Field of study:</strong>
        Computer Science
      </p>
      <p>
        <strong>Author:</strong>
        Magdalena Galwa
      </p>
    </div>


    <header class="about-header2">
      </header>
      <div class="paragraphs2">
        <p>
            The goal of the project is to develop an application which allows users to browse movie data and rate those movies.
        </p>
        <p>
            Users rates related to their personal profiles are the basis of recommendations (another movies worth to watch / rate) prepared by recommendation engine and visible for the user. 
        </p>
      </div>
      

    <header class="about-header3">
    </header>
    <div class="paragraphs3">
      <p> <strong>FrontEnd: </strong>
        <a href="https://github.com/magdalenabialas/MovieCatalogFront-master" class="link">GitHub FrontEnd repository</a>
      </p>
      <p>
        <strong>BackEnd: </strong>
        <a href="https://github.com/magdalenabialas/MovieCatalogBack-master" class="link">GitHub BackEnd repository</a>      
      </p>
      <p>
      <strong>RecommendationEngine: </strong>
      <a href="https://github.com/magdalenabialas/RecommendationEngine" class="link">GitHub RecommendationEngine repository</a>      
      </p>  
    </div>
  </div>