<div class="search-container">
        <span class="logo" routerLink="movies" (click)="reset()">MYmovieAPP</span>
        <input
        class="search-input"
        type="text"
        placeholder="Search movies!"
        [(ngModel)]="searchTerm"
        (keyup.enter)="search()"
        />
        <button (click)="search()" type="submit" class="search-button">Search</button>
        
        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
                <li class="nav-item">
                  <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a href="/login" class="nav-link" routerLink="login">Login</a>
                </li>
              </ul>
</div>  