<div class="search-container">
        <span class="logo" routerLink="movies" (click)="reset()">MYmovieAPP</span>
        <input
        class="search-input"
        type="text"
        placeholder="Search movies by title!"
        [(ngModel)]="searchTerm"
        (keyup.enter)="search()"
        />
        <button (click)="search()" type="submit" class="search-button">Search</button>
        
        <div class="navbar-not-logged-in" *ngIf="!isLoggedIn">
          <ul class="navbar-not-logged-in-ul">
                <li class="navbar-not-logged-in-list">
                  <a href="/about" class="navbar-not-logged-in-item" routerLink="about"><b>About</b></a>
                </li>
                <li class="navbar-not-logged-in-list">
                  <a href="/register" class="navbar-not-logged-in-item" routerLink="register"><b>Sign Up</b></a>
                </li>
                <li class="navbar-not-logged-in-list">
                  <a href="/login" class="navbar-not-logged-in-item" routerLink="login"><b>Login</b></a>
                </li>
          </ul>
        </div>
        
        <div class="navbar-logged-in" *ngIf="isLoggedIn" >
          <ul class="navbar-logged-in-ul">
                <li class="navbar-logged-in-list">
                  <a href="/about" class="navbar-logged-in-item" routerLink="about"><b>About</b></a>
                </li>
                <li class="navbar-logged-in-list">
                  <a href="/profile" class="navbar-logged-in-item" routerLink="profile"><b>Profile</b></a>
                </li>
                <li class="navbar-logged-in-list">
                  <a href class="navbar-logged-in-item" (click)="logout()"><b>LogOut</b></a>
                </li>
          </ul>
        </div>
</div>  