(<div class="profile-form" *ngIf="currentUser; else loggedOut">
    <header class="profile-form-details">
      <h3>
        <strong>Profile details</strong> 
      </h3>
    </header>
    <div class="profile-details">
      <p>
        <strong>Username:</strong>
        {{ currentUser.username }}
      </p>
      <p>
        <strong>Email:</strong>
        {{ currentUser.email }}
      </p>
      <p>
        <strong>Token:</strong>
        {{ currentUser.accessToken.substring(0, 20) }} ...
        {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
      </p>
    </div>
  </div>
  
  
  <ng-template #loggedOut>
    Please login.
  </ng-template>)